//
//	██████   ██████  ██     ██
//	██   ██ ██    ██ ██     ██
//	██████  ██    ██ ██  █  ██
//	██   ██ ██    ██ ██ ███ ██
//	██   ██  ██████   ███ ███
//	
//	#row
//
@mixin styles($mods: 'default') {
	@each $mod in $mods {
		@if $mod == 'default' {
			display: flex;
			align-items: stretch;
			justify-content: normal;
			flex-flow: row nowrap;
		}
		@if $mod == 'block' {
			display: flex;
		}
		@if $mod == 'inline' {
			display: inline-flex;
		}
		@if $mod == 'top' {
			align-items: flex-start;
		}
		@if $mod == 'normal' {
			align-items: normal;
		}
		@if $mod == 'stretch' {
			align-items: stretch;
		}
		@if $mod == 'middle' {
			align-items: center;
		}
		@if $mod == 'safe-middle' {
			align-items: safe center;
		}
		@if $mod == 'bottom' {
			align-items: flex-end;
		}
		@if $mod == 'left' {
			justify-content: flex-start;
		}
		@if $mod == 'center' {
			justify-content: center;
		}
		@if $mod == 'safe-center' {
			justify-content: safe center;
		}
		@if $mod == 'right' {
			justify-content: flex-end;
		}
		@if $mod == 'wrap' {
			flex-wrap: wrap;
		}
		@if $mod == 'nowrap' {
			flex-wrap: nowrap;
		}
	}
}
