//
//  ███    ██ ██    ██ ██      ██      ██ ███████ ██    ██
//  ████   ██ ██    ██ ██      ██      ██ ██       ██  ██
//  ██ ██  ██ ██    ██ ██      ██      ██ █████     ████
//  ██  ██ ██ ██    ██ ██      ██      ██ ██         ██
//  ██   ████  ██████  ███████ ███████ ██ ██         ██
//  
//     ██      ██ ██████
//     ██      ██ ██   ██
//     ██      ██ ██████
//     ██      ██ ██   ██
//  ██ ███████ ██ ██████
//  
//  #nullify #lib
//

// #block
@mixin pine-nullify--block {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: transparent;
	border: 0;
	border-radius: 0; // Fennec использует border-radius по умолчанию, надо сбрасывать
}

// 
//  #NOTE Иногда такие базовые классы нужны, например, в случае с Bootstrap, когда он
//  используется параллельно с основными стилями. Например, он глобально назначает стили
//  label. И зачастую при верстке нужно классом их убрать.
// 
@mixin pine-nullify--rules($ns: 'pine') {
	@include pine-selector-ns($ns, 'nullify', 'block') {
		@include pine-extend-ns('pine', 'nullify', 'block');
	}
}
