//
//  ██████  ██████  ███████ ███████ ███████ ████████
//  ██   ██ ██   ██ ██      ██      ██         ██
//  ██████  ██████  █████   ███████ █████      ██
//  ██      ██   ██ ██           ██ ██         ██
//  ██      ██   ██ ███████ ███████ ███████    ██
//  
//   ██████  ██       ██████  ██████   █████  ██
//  ██       ██      ██    ██ ██   ██ ██   ██ ██
//  ██   ███ ██      ██    ██ ██████  ███████ ██
//  ██    ██ ██      ██    ██ ██   ██ ██   ██ ██
//   ██████  ███████  ██████  ██████  ██   ██ ███████
//  
//  #preset #global
//
//  [1]: 16 -> 10
// 
$pine-text--size-html-element: 10;
$pine-text--size-mount-point: $pine-text--size-html-element;

@import 'preset-basic';

html {
	font-size: .625em; // [1]
}

body {
	@include pine-extend-ns('pine', 'text', 'default' 'size-root');
}
