//
//	 ██████  ██████  ██      ██    ██ ███    ███ ███    ██
//	██      ██    ██ ██      ██    ██ ████  ████ ████   ██
//	██      ██    ██ ██      ██    ██ ██ ████ ██ ██ ██  ██
//	██      ██    ██ ██      ██    ██ ██  ██  ██ ██  ██ ██
//	 ██████  ██████  ███████  ██████  ██      ██ ██   ████
//	
//	#column
//
@use '../core';
@use 'config' as *;
@use 'styles' as *;

@mixin placeholders
{
	@include core.placeholder-ns('pine', 'column') {
		@include styles();
	}
	@include core.placeholder-ns('pine', 'column', 'block') {
		@include styles('block');
	}
	@include core.placeholder-ns('pine', 'column', 'inline') {
		@include styles('inline');
	}
	@include core.placeholder-ns('pine', 'column', 'top') {
		@include styles('top');
	}
	@include core.placeholder-ns('pine', 'column', 'normal') {
		@include styles('normal');
	}
	@include core.placeholder-ns('pine', 'column', 'stretch') {
		@include styles('stretch');
	}
	@include core.placeholder-ns('pine', 'column', 'middle') {
		@include styles('middle');
	}
	@include core.placeholder-ns('pine', 'column', 'safe-middle') {
		@include styles('safe-middle');
	}
	@include core.placeholder-ns('pine', 'column', 'bottom') {
		@include styles('bottom');
	}
	@include core.placeholder-ns('pine', 'column', 'left') {
		@include styles('left');
	}
	@include core.placeholder-ns('pine', 'column', 'center') {
		@include styles('center');
	}
	@include core.placeholder-ns('pine', 'column', 'safe-center') {
		@include styles('safe-center');
	}
	@include core.placeholder-ns('pine', 'column', 'right') {
		@include styles('right');
	}
	@include core.placeholder-extend-ns('pine', 'column', 'margin', 'pine', 'paragraph', 'margin', true);
	@include core.placeholder-extend-ns('pine', 'column', 'paragraph', 'pine', 'column', 'margin', true);
	@each $size in $gap-sizes {
		@include core.placeholder-extend-ns('pine', 'column', 'margin-#{$size}', 'pine', 'gap', 'margin-column-#{$size}', true);
		@include core.placeholder-extend-ns('pine', 'column', 'margin-#{$size}a', 'pine', 'gap', 'margin-column-#{$size}a', true);
	}
	@include core.placeholder-extend-ns('pine', 'column', 'edge', 'pine', 'edge', 'margin-column');
	@include core.placeholder-ns('pine', 'column', 'wrap') {
		@include styles('wrap');
	}
	@include core.placeholder-ns('pine', 'column', 'nowrap') {
		@include styles('nowrap');
	}
	@include core.placeholder-extend-ns('pine', 'column', 'no-wrap', 'pine', 'column', 'nowrap');

	// Псевдоним "col"
	@include core.placeholder-extend-ns('pine', 'col', 'default', 'pine', 'column');
	@include core.placeholder-extend-ns('pine', 'col', 'block', 'pine', 'column', 'block');
	@include core.placeholder-extend-ns('pine', 'col', 'inline', 'pine', 'column', 'inline');
	@include core.placeholder-extend-ns('pine', 'col', 'top', 'pine', 'column', 'top');
	@include core.placeholder-extend-ns('pine', 'col', 'normal', 'pine', 'column', 'normal');
	@include core.placeholder-extend-ns('pine', 'col', 'stretch', 'pine', 'column', 'stretch');
	@include core.placeholder-extend-ns('pine', 'col', 'middle', 'pine', 'column', 'middle');
	@include core.placeholder-extend-ns('pine', 'col', 'safe-middle', 'pine', 'column', 'safe-middle');
	@include core.placeholder-extend-ns('pine', 'col', 'bottom', 'pine', 'column', 'bottom');
	@include core.placeholder-extend-ns('pine', 'col', 'left', 'pine', 'column', 'left');
	@include core.placeholder-extend-ns('pine', 'col', 'center', 'pine', 'column', 'center');
	@include core.placeholder-extend-ns('pine', 'col', 'safe-center', 'pine', 'column', 'safe-center');
	@include core.placeholder-extend-ns('pine', 'col', 'right', 'pine', 'column', 'right');
	@include core.placeholder-extend-ns('pine', 'col', 'margin', 'pine', 'column', 'margin');
	@include core.placeholder-extend-ns('pine', 'col', 'paragraph', 'pine', 'column', 'paragraph');
	@each $size in $gap-sizes {
		@include core.placeholder-extend-ns('pine', 'col', 'margin-#{$size}', 'pine', 'column', 'margin-#{$size}', true);
		@include core.placeholder-extend-ns('pine', 'col', 'margin-#{$size}a', 'pine', 'column', 'margin-#{$size}a', true);
	}
	@include core.placeholder-extend-ns('pine', 'col', 'edge', 'pine', 'column', 'edge');
	@include core.placeholder-extend-ns('pine', 'col', 'wrap', 'pine', 'column', 'wrap');
	@include core.placeholder-extend-ns('pine', 'col', 'no-wrap', 'pine', 'column', 'no-wrap');

	//
	//	██ ████████ ███████ ███    ███
	//	██    ██    ██      ████  ████
	//	██    ██    █████   ██ ████ ██
	//	██    ██    ██      ██  ██  ██
	//	██    ██    ███████ ██      ██
	//	
	//	#item
	//
	@include core.placeholder-ns('pine', 'column-item') {
		flex: 0 1 auto;
	}
	@each $size in $item-gap-sizes {
		@include core.placeholder-extend-ns('pine', 'column-item', 'margin-#{$size}', 'pine', 'gap', 'margin-bottom-#{$size}', true);
		@include core.placeholder-extend-ns('pine', 'column-item', 'margin-#{$size}', 'pine', 'edge', 'margin-column');
		@include core.placeholder-extend-ns('pine', 'column-item', 'margin-#{$size}a', 'pine', 'gap', 'margin-bottom-#{$size}a', true);
		@include core.placeholder-extend-ns('pine', 'column-item', 'margin-#{$size}a', 'pine', 'edge', 'margin-column');
	}
	@include core.placeholder-ns('pine', 'column-item', 'fill') {
		flex-grow: 1;
	}
	@include core.placeholder-ns('pine', 'column-item', 'no-shrink') {
		flex-shrink: 0;
	}
	@include core.placeholder-ns('pine', 'column-item', 'basis-zero-percent') {
		flex-basis: 0%;
		// #NOTE: Про "0%" смотри заметку в row.
	}
	@include core.placeholder-extend-ns('pine', 'column-item', 'basis-initial', 'pine', 'column-item', 'basis-zero-percent');
	@include core.placeholder-ns('pine', 'column-item', 'basis-auto') {
		flex-basis: auto;
	}
	@include core.placeholder-ns('pine', 'column-item', 'top') {
		justify-self: flex-start;
	}
	@include core.placeholder-ns('pine', 'column-item', 'middle') {
		justify-self: center;
	}
	@include core.placeholder-ns('pine', 'column-item', 'safe-middle') {
		justify-self: safe center;
	}
	@include core.placeholder-ns('pine', 'column-item', 'stretch') {
		justify-self: stretch;
	}
	@include core.placeholder-ns('pine', 'column-item', 'bottom') {
		justify-self: flex-end;
	}
	@include core.placeholder-ns('pine', 'column-item', 'clip') {
		overflow: hidden;
	}

	// Псевдоним "col-item"
	@include core.placeholder-extend-ns('pine', 'col-item', 'default', 'pine', 'column-item');
	@each $size in $item-gap-sizes {
		@include core.placeholder-extend-ns('pine', 'col-item', 'margin-#{$size}', 'pine', 'column-item', 'margin-#{$size}', true);
		@include core.placeholder-extend-ns('pine', 'col-item', 'margin-#{$size}a', 'pine', 'column-item', 'margin-#{$size}a', true);
	}
	@include core.placeholder-extend-ns('pine', 'col-item', 'fill', 'pine', 'column-item', 'fill');
	@include core.placeholder-extend-ns('pine', 'col-item', 'no-shrink', 'pine', 'column-item', 'no-shrink');
	@include core.placeholder-extend-ns('pine', 'col-item', 'top', 'pine', 'column-item', 'top');
	@include core.placeholder-extend-ns('pine', 'col-item', 'middle', 'pine', 'column-item', 'middle');
	@include core.placeholder-extend-ns('pine', 'col-item', 'safe-middle', 'pine', 'column-item', 'safe-middle');
	@include core.placeholder-extend-ns('pine', 'col-item', 'stretch', 'pine', 'column-item', 'stretch');
	@include core.placeholder-extend-ns('pine', 'col-item', 'bottom', 'pine', 'column-item', 'bottom');
	@include core.placeholder-extend-ns('pine', 'col-item', 'clip', 'pine', 'column-item', 'clip');
	
}
