$ns: '' !default;
$media-devices: () !default;
$media-breakpoints: () !default;
$root-container-name: 'app' !default;
$design-scale-factor: 1 !default;
$tags-textinput: 'textarea' 'input[type="text"]' 'select' !default;
$tags-button: 'button' 'input[type="button"]' 'input[type="submit"]' !default;
$tags-heading: 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' !default;
