//
//	████████ ███████ ██   ██ ████████
//	   ██    ██       ██ ██     ██
//	   ██    █████     ███      ██
//	   ██    ██       ██ ██     ██
//	   ██    ███████ ██   ██    ██
//	
//	#text
//
$size: 16 !default;
$sizes: () !default;
$size-mount-point: 16 !default;
$size-html-element: 16 !default;
$family: sans-serif !default;
$family-alt: sans-serif !default;
$line-height: 1.5 !default;
$line-heights: 1 1.1 1.15 1.2 1.25 1.3 1.35 1.4 1.45 1.5 !default;
$color: #000 !default;
$color-muted: #999 !default;
